.amily_form form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .amily_form h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  .amily_form  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .amily_form p {
    color: #bf1650;
  }
  
  .amily_form p::before {
    display: inline;
    content: "⚠ ";
  }
  
  .amily_form  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(59, 44, 44);
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .amily_form  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: rgb(27, 14, 14);
    font-size: 14px;
    font-weight: 200;
  }
  
  .amily_form button[type="submit"],
  .amily_form input[type="submit"] {
    background: #0a3799;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  .amily_form button[type="submit"]:hover,
  .amily_form input[type="submit"]:hover {
    background: #bf1650;
  }
  
  .amily_form button[type="submit"]:active,
  .amily_form input[type="button"]:active,
  .amily_form input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  .amily_form input:disabled {
    opacity: 0.4;
  }
  
  .amily_form input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  .amily_form button[type="submit"],
  .amily_form  input[type="button"],
  .amily_form input[type="submit"] {
    -webkit-appearance: none;
  }
  
 
  
  .amily_form button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  .amily_form  hr {
    margin-top: 30px;
  }
  
  .amily_form  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  